QUESTION 1

In [2]:
shopping = ["spam", "ham", "eggs", "ham"]

In [3]:
shopping[1]

'ham'

In [5]:
shopping[0:3]

['spam', 'ham', 'eggs']

In [6]:
shopping[:-1]

['spam', 'ham', 'eggs']

QUESTION 2

In [30]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket']

In [31]:
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [32]:
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [33]:
stops.index("Croy")

1

In [34]:
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [35]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [36]:
stops.clear()
stops

[]

QUESTION 3

In [37]:
person = {"name": "Steph", "age": 31, "Instructor" : True}
person

{'name': 'Steph', 'age': 31, 'Instructor': True}

In [39]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [40]:
person.values()

dict_values(['Steph', 31, True])

In [41]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [42]:
person["name"]

'Steph'

In [44]:
person.update({"email" : "steph@codeclan.com"})
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [46]:
del person["Instructor"]
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

QUESTION 4

In [110]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [108]:
#Q4.1
even_numbers = []

for number in numbers:
    if number % 2 == 0:
        even_numbers.append(number)
print(even_numbers)

[6, 2, 2, 6]

In [ ]:
#Q4.2
difference = max(numbers) - min(numbers)
print(difference)

In [111]:
#Q4.3
for i in range(0, len(numbers) - 1):
    if numbers[i] == numbers[i + 1] and numbers[i] == 2:
        print(True)

True

In [ ]:
#Q4.4 - not finished
total = 0
for number in range(0, len(numbers):
               if number = 6:
                    include = False
                    total =

QUESTION 5

In [59]:
python_is_fun = True
python_is_weird = False

if python_is_fun == True or python_is_weird == True:
    print("Woo python")
else:
    print("Python is not for me")

Woo python

QUESTION 6

In [1]:
chicken = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

def count_eggs(chicken):
    total_eggs = 0
for chicken in chicken:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

    print(f"{total_eggs} eggs collected")

count_eggs(chickens)

NameError: name 'total_eggs' is not defined

EXTENSIONS

QUESTION 1

In [77]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

united_kingdom[1]["capital"] = "Cardiff"

united_kingdom.append({"name": "Northern Ireland", "population" : 1811000, "capital": "Belfast"})

for i in range(0, len(united_kingdom)):
    print(united_kingdom[i]["name"])
   
total_population = 0
for i in range(0, len(united_kingdom)):
    total_population += united_kingdom[i]["population"]

print(total_population)

Scotland
Wales
England
Northern Ireland
63179000

QUESTION 2

In [97]:
users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}

In [80]:
users["Jonathan"]["twitter"]

'jonnyt'

In [81]:
users["Erik"]["home_town"]

'Linlithgow'

In [82]:
users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24]

In [90]:
####### Not working
users["Avril"]["pets"]["species"]

TypeError: list indices must be integers or slices, not str

In [91]:
min(users["Erik"]["lottery_numbers"])

8

In [93]:
even_numbers = []

for number in users["Avril"]["lottery_numbers"]:
    if number % 2 == 0:
        even_numbers.append(number)
        
even_numbers

[12, 14, 38]

In [98]:
users["Erik"]["lottery_numbers"].append(7)
users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24, 7]

In [100]:
users["Erik"]["home_town"] = "Edinburgh"
users["Erik"]["home_town"]

'Edinburgh'

In [106]:
users["Erik"]["pets"] = {"name" : "Fluffy", "species" : "dog"}

In [107]:
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': {'name': 'Fluffy', 'species': 'dog'}},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]},
 'John': {'twitter': 'jww2020',
  'home_town': 'Glasgow',
  'pets': [{'name': 'Angus', 'species': 'dog'}]}}

In [104]:
users["John"] = {"twitter" : "jww2020",
                "home_town" : "Glasgow",
                "pets" : [{'name' : "Angus", "species" : "dog"}]}

users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]},
 'John': {'twitter': 'jww2020',
  'home_town': 'Glasgow',
  'pets': [{'name': 'Angus', 'species': 'dog'}]}}